<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">名称:</label>
            <div class="col-sm-4">
                <input class="form-control" name="name" id="name">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">上传矩阵文件:</label>
            <div class="col-sm-4">
                <input type="file" name="file" class="file-upload-default" style="width: 500px" id="file">
                <div class="input-group col-xs-12">
                    <input type="text" class="form-control file-upload-info" disabled placeholder="上传矩阵文件">
                    <span class="input-group-append">
                        <button class="file-upload-browse btn btn-primary" type="button">
                                                        选择</button>
                    </span>
                </div>
                <span class="example"><a href="/colorectal/utils/downloadExample?file=rf.txt"><em id="egCrics">
                                                示例文件</em>
                </a>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">是否将0设置为空值：</label>
            <div class="col-sm-4">
                <label class="col-form-label label-radio"><input type="radio" name="is0" value="yes"/> 是</label>
                <label class="col-form-label label-radio"><input type="radio" name="is0" value="no" checked/> 否</label>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">空值过滤参数设置：</label>
            <div class="col-sm-4">
                <input class="form-control" name="naPer" id="naPer" value="0.7" placeholder="默认值： 0.7">
            </div>
        </div>
    </div>
</div>

<div class="row" style="display: none;" id="dent">
    <div class="col-md-12">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">因变量 :</label>
            <div class="col-sm-4">
                <select class="form-control" name="dependent" id="dependent" onchange="changeByDependent()">

                                            </select>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">自变量 :</label>
            <div class="col-sm-7" id="independent" style="display: flex;
                flex-wrap: wrap">

            </div>

            <div class="col-sm-12">
                <label class="col-sm-3"></label>
                <button class="btn btn-primary" type="button" onclick="SelectAll()">全选</button>
                <button class="btn btn-primary" type="button" onclick="UnSelectAll()">反选</button>
            </div>

        </div>
    </div>

</div>

<script>
        
        function SelectAll() {
            $.each($("input[name='independent[]']"),(i,v)=>{
                console.log($(v).val())
                $(v).prop("checked",true)
            })
        }

        function UnSelectAll() {
            $.each($("input[name='independent[]']"),(i,v)=>{
                $(v).prop("checked",false)
            })
        }
        
    </script>