@(mlTypes: String)

@{
    mlTypes match {
        case "logistics" => <i class="mdi mdi-home text-muted hover-cursor"></i>
        case "rf" => <i class="mdi mdi-home text-muted hover-cursor"></i>
        case "neural" => <i class="mdi mdi-home text-muted hover-cursor"></i>
        case "gb" => <i class="mdi mdi-home text-muted hover-cursor"></i>
        case "catboost" => <i class="mdi mdi-home text-muted hover-cursor"></i>
        case "svm" => <i class="mdi mdi-home text-muted hover-cursor"></i>
    }
}