@(mlTypes: String)(implicit session: Session)
@cn.manage.main("模型构建", "ml") {


    <script src="@routes.Assets.versioned("modelb/js/file-upload.js")"></script>

    <style>
            .example {
                font-size: 14px;
            }

            .form-check {
                float: left;
                margin-right: 40px;
                width: 15%;
                min-width: 100px;
            }

            .select2-container--default .select2-selection--single {
                height: 46px;
            }

            .select2-container--default .select2-selection--single .select2-selection__rendered {
                height: 46px;
                line-height: 46px;
            }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                height: 46px;
            }

    </style>

    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="d-flex justify-content-between flex-wrap">
                    <div class="d-flex align-items-end flex-wrap">
                        <div class="d-flex">
                            <i class="icon icon-@mlTypes text-muted hover-cursor"></i>
                            <p class="text-muted mb-0 hover-cursor">&nbsp;&nbsp;机器学习&nbsp;/&nbsp;</p>
                            <p class="text-primary mb-0 hover-cursor">@{
                                mlTypes match {
                                    case "logistics" => "逻辑回归"
                                    case "rf" => "随机森林"
                                    case "neural" => "神经网络"
                                    case "gb" => "梯度提升树"
                                    case "catboost" => "CatBoost"
                                    case "svm" => "支持向量机"
                                }
                            }&nbsp;/&nbsp;</p>
                            <p class="text-primary mb-0 hover-cursor">模型构建</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                    @{
                        mlTypes match {
                            case "logistics" => cn.ml.logistics.modelPage()
                            case "rf" => cn.ml.randomforest.modelPage()
                            case "neural" => cn.ml.neural.modelPage()
                            case "gb" => cn.ml.gb.modelPage()
                            case "catboost" => cn.ml.catboost.modelPage()
                            case "svm" => cn.ml.svm.modelPage()
                        }
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

            function changeByDependent() {
                let dependent = $("#dependent").val();
                $("input[name='independent[]']").each(function () {
                    if ($(this).val() === dependent) {
                        $(this).prop("checked", false);
                        $(this).parent().parent().hide()
                    } else {
                        $(this).prop("checked", true);
                        $(this).parent().parent().show()
                    }
                })
            }

    </script>

}