<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">空值过滤参数设置：</label>
            <div class="col-sm-4">
                <input class="form-control" name="naPer" id="naPer" value="0.7" placeholder="默认值： 0.7">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <button type="button" class="btn btn-primary" style="width: 200px" onclick="run()">
                                            开始构建</button>
        </div>
    </div>
</div>