@()(implicit session: Session)
@en.home.main("Machine Learning") {

    <style>


            .text-title {
                color: #2D8B67;
                font-size: 22px;
                padding: 10px 0 10px 0;
                border-bottom: 1px solid #d0dbdc;
            }

            .btn-my {
                float: right;
                background-color: #2D8B67;
                color: white;
                border: none;
                border-radius: 5px;
                padding: 5px 10px;
                margin-right: 20px;
            }

        .ml-row{
            display: flex;
            display: -webkit-flex;
            flex-flow: row wrap;
            margin-bottom: 50px;
        }

        .ml-box{
            display: flex;
            display: -webkit-flex;
            flex-flow: row nowrap;
            border: 1px solid #10A48E;
            border-radius: 10px;
            padding: 10px;
            margin-top: 20px;
        }

        .ml-box-img{
            width: 400px;
            display: flex;
            flex-flow: row;
            justify-content: center
        }

        .ml-box-img img{
            width: 350px;
        }

        .ml-box-text{
            width: 800px;
        }

        .ml-box-text p{
            text-indent: 2em;
            line-height: 25px
        }

    </style>

    <div class="row">


        <h1 class="page-heading">Machine Learning</h1>


        <div class="ml-row">

            <div class="ml-box">
                <div class="ml-box-img">
                    <img src="/assets/images/logistics.png" />
                </div>

                <div class="ml-box-text">
                    <h1 class="text-title">Logistic Regression</h1>
                    <p> In statistics, the logistic model (or logit model) is used to model the probability of a certain
                        class or event existing such as pass/fail, win/lose, alive/dead or healthy/sick. This can be
                        extended to model several classes of events such as determining whether an image contains a cat,
                        dog, lion, etc. Each object being detected in the image would be assigned a probability between
                        0 and 1, with a sum of one.</p>
                    <a href="@routes.MlController.modelPageEn("logistics")" target="_blank"><button class="btn-my"><i class=" mdi mdi-hand-pointing-right"></i> Enter</button></a>
                </div>

            </div>

            <div class="ml-box">
                <div class="ml-box-img">
                    <img src="/assets/images/rf.png"/>
                </div>

                <div class="ml-box-text">
                    <h1 class="text-title">Random Forest</h1>
                    <p>Random forests or random decision forests are an ensemble learning method for classification,
                        regression and other tasks that operate by constructing a multitude of decision trees at
                        training time and outputting the class that is the mode of the classes (classification) or
                        mean prediction (regression) of the individual trees. Random decision forests correct
                        for decision trees' habit of overfitting to their training set.
                    </p>
                    <a href="@routes.MlController.modelPageEn("rf")" target="_blank"><button class="btn-my"><i class=" mdi mdi-hand-pointing-right"></i> Enter</button></a>
                </div>

            </div>

            <div class="ml-box">
                <div class="ml-box-img">
                    <img src="/assets/images/neural.png" />
                </div>
                <div class="ml-box-text">
                    <h1 class="text-title">Neural Network</h1>
                    <p>Neural networks learn (or are trained) by processing examples, each of which contains a known "input" and "result," forming probability-weighted associations between the two, which are stored within the data structure of the net itself. The training of a neural network from a given example is usually conducted by determining the difference between the processed output of the network (often a prediction) and a target output. This is the error. The network then adjusts its weighted associations according to a learning rule and using this error value. Successive adjustments will cause the neural network to produce output which is increasingly similar to the target output. After a sufficient number of these adjustments the training can be terminated based upon certain criteria. This is known as supervised learning.
                    </p>
                    <a href="@routes.MlController.modelPageEn("neural")" target="_blank"><button class="btn-my"><i class=" mdi mdi-hand-pointing-right"></i> Enter</button></a>
                </div>
            </div>

            <div class="ml-box">
                <div class="ml-box-img">
                    <img src="/assets/images/gb.png" />
                </div>
                <div class="ml-box-text">
                    <h1 class="text-title">GBDT(Gradient Boosting Decision Tree)</h1>
                    <p> Gradient boosting is a machine learning technique for regression and classification problems, which produces a prediction model in the form of an ensemble of weak prediction models, typically decision trees. It builds the model in a stage-wise fashion like other boosting methods do, and it generalizes them by allowing optimization of an arbitrary differentiable loss function.
                    </p>
                    <a href="@routes.MlController.modelPageEn("gb")" target="_blank"><button class="btn-my"><i class=" mdi mdi-hand-pointing-right"></i> Enter</button></a>
                </div>
            </div>

            <div class="ml-box">
                <div class="ml-box-img">
                    <img src="/assets/images/catboost.png" />
                </div>
                <div class="ml-box-text">
                    <h1 class="text-title">CatBoost</h1>
                    <p> A fast, scalable, high performance Gradient Boosting on Decision Trees library, used for ranking, classification, regression and other machine learning tasks for Python, R, Java, C++. Supports computation on CPU and GPU.
                    </p>
                    <a href="@routes.MlController.modelPageEn("catboost")" target="_blank"><button class="btn-my"><i class=" mdi mdi-hand-pointing-right"></i> Enter</button></a>
                </div>
            </div>

            <div class="ml-box">
                <div class="ml-box-img">
                    <img src="/assets/images/svm.png" />
                </div>
                <div class="ml-box-text">
                    <h1 class="text-title">SVM(Support vector machine)</h1>
                    <p> In machine learning, support-vector machines (SVMs, also support-vector networks) are supervised learning models with associated learning algorithms that analyze data used for classification and regression analysis. Given a set of training examples, each marked as belonging to one or the other of two categories, an SVM training algorithm builds a model that assigns new examples to one category or the other, making it a non-probabilistic binary linear classifier (although methods such as Platt scaling exist to use SVM in a probabilistic classification setting). An SVM model is a representation of the examples as points in space, mapped so that the examples of the separate categories are divided by a clear gap that is as wide as possible. New examples are then mapped into that same space and predicted to belong to a category based on the side of the gap on which they fall.    </p>
                    <a href="@routes.MlController.modelPageEn("svm")" target="_blank"><button class="btn-my"><i class=" mdi mdi-hand-pointing-right"></i> Enter</button></a>
                </div>
            </div>


        </div>


    </div>


}