@(name:String,id:String)

<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#ul-@id" aria-expanded="false" aria-controls="ul-@id">

        <i class="icon icon-@id  menu-icon"></i>
        <span class="menu-title">@name</span>
        <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="ul-@id">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/colorectal/en/platform/ml/@id/@{id}ModelPage">Model Construction</a></li>
            <li class="nav-item"> <a class="nav-link" href="/colorectal/en/platform/ml/@id/@{id}ModelResult">Model Management </a></li>
            <li class="nav-item"> <a class="nav-link" href="/colorectal/en/platform/ml/@id/@{id}ModelPredicted">Model Prediction</a></li>
        </ul>
    </div>
</li>
