@()(implicit session: Session)
@cn.manage.main("Oncomine 数据库", "publicdb") {

    <style>
            .form-check-label {
                cursor: pointer;
            }
    </style>

    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="d-flex justify-content-between flex-wrap">
                    <div class="d-flex align-items-end flex-wrap">
                        <div class="d-flex">
                            <i class="mdi mdi-home text-muted hover-cursor"></i>
                            <p class="text-muted mb-0 hover-cursor">&nbsp;&nbsp;公共数据库&nbsp;/&nbsp;</p>
                            <p class="text-primary mb-0 hover-cursor">Oncomine 数据库</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 stretch-card">
                <div class="card">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>


}