@(tools: String, title: String)(implicit session: Session)
    @en.manage.main(title, "tools") {
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("bootstrap-slider-master/css/bootstrap-slider.css")" media="screen" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("palette/evol-colorpicker.min.css")" media="screen" />

        <script src="@routes.Assets.versioned("modelb/js/file-upload-orgin.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("palette/jquery-ui.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("palette/evol-colorpicker.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("bootstrap-slider-master/bootstrap-slider.js")"></script>

        <style>
                .example {
                    font-size: 14px;
                }

                .form-check {
                    float: left;
                    margin-right: 40px;
                    width: 15%;
                    min-width: 100px;
                }

                /*                .form-control-feedback{
                                    background-color: transparent !important;
                                }*/

                .select2-container--default .select2-selection--single {
                    height: 46px;
                }

                .select2-container--default .select2-selection--single .select2-selection__rendered {
                    height: 46px;
                    line-height: 46px;
                }

                .select2-container--default .select2-selection--single .select2-selection__arrow {
                    height: 46px;
                }

                .reDraw {
                    margin-bottom: 0px;
                    display: flex;
                    width: 100%;
                }

                .evo-cp-wrap {
                    width: 200px !important;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .colorPicker {
                    width: 80%;
                }

                .evo-pop {
                    top: 53px;
                    border: 1px solid #dddddd;
                    border-radius: 5px;
                    padding: 0 10px;
                }

                .result-table .fixed-table-body {
                    min-height: unset;
                }

                .result-download {
                    font-size: 20px;
                    padding: 5px 10px;
                }

                .result-download:hover {
                    background-color: #dddddd;
                    border-radius: 5px;
                }

                #reForm .form-control-feedback {
                    margin-right: -20px;
                }

        </style>

        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12 grid-margin">
                    <div class="d-flex justify-content-between flex-wrap">
                        <div class="d-flex align-items-end flex-wrap">
                            <div class="d-flex">
                                <i class="icon icon text-muted hover-cursor"></i>
                                <p class="text-muted mb-0 hover-cursor">&nbsp;&nbsp;Tools&nbsp;/&nbsp;</p>
                                <p class="text-primary mb-0 hover-cursor">@title</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 stretch-card">
                    <div class="card">
                        <div class="card-body">

                        @{
                            tools match {
                                case "pca" => cn.tools.pcaOrPcoaPage("pca")
                                case "pcoa" => cn.tools.pcaOrPcoaPage("pcoa")
                                case "cca" => cn.tools.ccaPage()
                                case "heatmap" => cn.tools.heatmapPage()
                                case "igc" => cn.tools.igcOrItcPage("igc")
                                case "itc" => cn.tools.igcOrItcPage("itc")
                                case "tax4" => cn.tools.tax4Page()
                                case "volcano" => cn.tools.vocPage()
                                case "fh" => cn.tools.fhPage()
                                case "ternary" => cn.tools.ternaryPage()
                                case "treemap" => cn.tools.treemapPage()
                                case "lefse" => cn.tools.lefsePage()
                                case _ => cn.tools.test()
                            }
                        }

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div id="toolbar"></div>
                            <table class="table table-bordered" id="table" data-pagination="true" data-advanced-sortable="true"
                            data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="name" data-valign="middle" data-sortable="true" data-search-type="text">
                                            Task Name</th>
                                        <th data-field="start" data-valign="middle" data-sortable="true" data-search-type="date">
                                            Create Time</th>
                                        <th data-field="state" data-formatter="GetState" data-valign="middle" data-sortable="true" >
                                            Status</th>
                                        <th data-field="operation" data-formatter="GetOperation" data-valign="middle">
                                            Operation</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="result" style="display: none">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body  dashboard-tabs p-0" style="padding: 10px">

                            <h3 style="padding: 20px 20px 0px 20px" id="task_title"></h3>
                            <p class="card-title" style="padding: 20px 20px 0px 20px">Files：</p>
                            <div class="col-sm-12 result-table">
                                <table class="table table-hover table-bordered table-striped" id="fileTable" style="width: 60%;
                                    margin-left: 50px">
                                    <thead>
                                        <tr>
                                            <th data-field="filename">Filename</th>
                                            <th data-field="explain">Description</th>
                                            <th data-field="download">Download</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                            <div style="padding: 20px 20px 0px 20px" id="card-title"><span class="card-title" >
                                Redraw：</span></div>


                            <div class="col-md-12" style="display: flex" id="redraw">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="@routes.Assets.versioned("webscoket/webscoket.js")" type="text/javascript"></script>

        <script>


                $(function () {
                    $("#table").bootstrapTable();
                    UpdateTable();

                })

                function UpdateTable() {
                    $.post("@routes.ToolsController.getAllInfoByTools(tools)", (data) => {
                        $("#table").bootstrapTable("load", data)
                    })
                }

                function GetState(value, row) {
                    if (row.state === "2") {
                        return `<div class="failed">Failure</div><input class='state' value='${row.state}'>`
                    } else if (row.state === "1") {
                        return `<div class="success">Success</div><input class='state' value='${row.state}'>`
                    } else {
                        return `<div>Running <img src='/assets/images/timg.gif'  style='width: 20px; height: 20px;'></div><input class='state' value='${row.state}'>`;
                    }
                }


                function Run() {
                    let form = $("#form");
                    let fv = form.data("formValidation");
                    fv.validate();
                    if (fv.isValid()) {
                        let index = MyTable.prototype.processIcon();
                        $.ajax({
                            url: "@routes.ToolsController.toolsRun(tools)",
                            type: "post",
                            processData: false,
                            contentType: false,
                            data: new FormData($("#form")[0]),
                            xhr: function () {
                                let myXhr = $.ajaxSettings.xhr();
                                if (myXhr.upload) { //检查upload属性是否存在
                                    //绑定progress事件的回调函数
                                    let date = new Date();
                                    let time = date.getTime();
                                    myXhr.upload.addEventListener('progress', function (e) {
                                        progressHandlingFunction(e, time)
                                    }, false);
                                }
                                return myXhr; //xhr对象返回给jQuery使用
                            },
                            success: function () {
                                getTaskName();
                                UpdateTable();
                                layer.close(index);
                            }
                        })
                    }
                }

                function ReDraw(id) {

                    let form = $("#reForm");
                    let fv = form.data("formValidation");
                    fv.validate();
                    if (fv.isValid()) {
                        let index = MyTable.prototype.runningIcon();
                        $.ajax({
                            url: "@routes.ToolsController.reDrawRun()",
                            type: "post",
                            data: $("#reForm").serialize() + "&id=" + id + "&tools=@tools",
                            success: function (data) {
                                layer.close(index);
                                if (data.state === 2) {
                                    $("#result").hide();
                                    swal("Error", data.msg, "error")
                                } else {
                                    OpenResult(id)
                                }
                            }
                        })
                    } else {
                        switchToReInvalid(fv)
                    }
                }

                function switchToReInvalid(fv) {
                    let invalid = (fv.$invalidFields)[0];
                    let id = $(invalid).parents(".tab-pane.fade").attr("id")
                    $(`#${id}-tab`).click();
                }

                function GetOperation(value, row) {
                    let result = `<button class="btn btn-success btn-rounded btn-fw" onclick="OpenResult('${row.id}')" style="margin-right: 10px" >Result</button>`
                    let log = "<button class='btn btn-secondary btn-rounded btn-fw ' onclick=\"OpenLog('" + row.id + "')\" style='margin-right: 10px' >Log</button>";
                    let de = "<button class='btn btn-danger btn-rounded btn-fw' onclick=\"DeleteById('" + row.id + "')\" style='margin-right: 10px'>Delete</button>";;
                    if (row.state === "0") {
                        return de;
                    } else if (row.state === "2") {
                        return log + de;
                    } else {
                        return result + log + de;
                    }
                }

                function OpenLog(id) {
                    MyTable.prototype.openLog("/colorectal/cn/platform/tools/open@{tools}Log?id=" + id)
                }

                function DeleteById(id) {
                    MyTable.prototype.deleteByUrl("/colorectal/cn/platform/tools/delete@{tools}ById?id=" + id)
                }

                function ShowOrHide(name, id) {
                    let value = $("input[name=" + name + "]:checked").val()
                    if (value.toUpperCase() === "TRUE") {
                        $("#" + id).slideDown(400)
                    } else {
                        $("#" + id).slideUp(400)
                    }
                }

                function addFormValidation(id, fields, excluded) {
                    $('#' + id).formValidation({
                        framework: 'bootstrap',
                        icon: {
                            valid: 'mdi mdi-check',
                            invalid: 'mdi mdi-close',
                            validating: 'mdi mdi-refresh'
                        },
                        excluded: excluded,
                        fields: fields
                    })
                }

                function FieldName(field, fields, tools) {
                    fields.forEach(x => {
                        field[x] = {
                            validators: {
                                notEmpty: {
                                    message: 'Not be empty！'
                                },
                                remote: {
                                    type: 'POST',
                                    url: '/colorectal/platform/tools/checkName',
                                    data: {
                                        tools: tools
                                    },
                                    message: "The task name is repeated.",
                                    delay: 1000
                                }
                            }
                        }
                    })
                    return field;
                }

                function FieldText(field, fields) {
                    fields.forEach(x => {
                        field[x] = {
                            validators: {
                                notEmpty: {
                                    message: 'Not be empty！'
                                }
                            }
                        }
                    })
                    return field;
                }

                function FieldChinesName(field, fields) {
                    fields.forEach(x => {
                        field[x] = {
                            validators: {
                                callback: {
                                    message: 'The title cannot have Chinese characters!',
                                    callback: function (value, validator, $field) {
                                        var rule = /[\u4e00-\u9fa5]+/;
                                        return !(rule.test(value));
                                    }
                                }
                            }
                        }
                    })
                    return field;
                }

                function FieldNumber(field, fields) {
                    fields.forEach(x => {
                        field[x] = {
                            validators: {
                                notEmpty: {
                                    message: 'Not be empty！'
                                },
                                numeric: {
                                    message: "Must be an number!"
                                }
                            }
                        }
                    })
                    return field;
                }

                function FieldNumberEmpty(field, fields) {
                    fields.forEach(x => {
                        field[x] = {
                            validators: {
                                numeric: {
                                    message: "Must be an number!"
                                }
                            }
                        }
                    })
                    return field;
                }

                function FieldFile(field, fields, ext = "txt") {
                    fields.forEach(x => {
                        field[x] = {
                            validators: {
                                notEmpty: {
                                    message: 'Not be empty！'
                                },
                                file: {
                                    extension: ext,
                                    message: `File format:${ext}`
                                }
                            }
                        }
                    })
                    return field;
                }

                function FieldColor(field, fields) {
                    fields.forEach(x => {
                        field[x] = {
                            validators: {
                                notEmpty: {
                                    message: 'Not be empty！'
                                },
                                color: {
                                    type: ['hex', 'keyword'],
                                    message: "Color format:hex,keyword"
                                }
                            }
                        }
                    })
                    return field;
                }

                function getTitleAndFile(title, data, tools, id) {
                    let tableData = [];
                    $.each(data, (i, v) => {
                        tableData.push({
                            "filename": v[0],
                            "explain": v[1],
                            "download": `<a class="result-download" href="/colorectal/cn/platform/tools/downloadToolsFile?path=${tools}/${id}/${v[0]}" ><i class="mdi mdi-download"></i></a>`
                        })
                    })

                    $("#fileTable").bootstrapTable({data: tableData})
                    $("#task_title").text(title);

                    const $result = $("#result")
                    $result.show()
                    let target_top = $result.offset().top - 50;
                    $("html,body").animate({scrollTop: target_top}, 800);
                }

                function reFormAddText(text, drawParams,formId="reForm") {
                    text.forEach(x => {
                        $("#" + formId).find("#" + x).val(drawParams[x])
                    })
                }

                function reFormAddRadio(radio, drawParams) {
                    radio.forEach(v => {
                        $("input[name=" + v + "][value='" + drawParams[v] + "']").prop("checked", true)
                    })
                }

                function reFormAddSlider(slider, drawParams) {
                    slider.forEach(v => {
                        let $sliderId = $("#" + v)
                        $sliderId.bootstrapSlider({tooltip: 'always'});
                        $sliderId.bootstrapSlider('setValue', drawParams[v]);
                    })
                }

        </script>


    }