@()(implicit session: Session)
@en.home.main("Primary Prevention") {

    <style>
            .text-title {
                color: #2D8B67;
                font-size: 20px;
                padding: 10px 0 10px 0;
            }

            .text-body {
                text-indent: 2em;
                line-height: 35px;
                text-align: justify;
            }
    </style>

    <div class="row">


        <h1 class="page-heading">Primary Prevention</h1>


        <div class="ml-row">

            <div class="text-title">What is primary prevention?</div>
            <div class="text-body">
                Primary prevention, also known as etiological prevention, refers to the measures taken against the etiology (or risk factors) when the disease has not yet occurred, that is, "preventing disease before it happens".Primary prevention is the fundamental measure to prevent, control and eliminate diseases. </div>

            <div class="text-title">Content of primary prevention</div>
            <div class="text-body">Primary prevention includes health promotion and health protection：</div>
            <div class="text-body">1. Health promotion</div>
            <div class="text-body">
                Is the health of the environment by creating enable people to avoid or reduce the body's exposure of the cause (or risk factors), change the susceptibility of the body, make the body from disease, reduce the morbidity due to the lack of special protective measures, most chronic diseases and health promotion measures taken before the body exposed to the cause, so health promotion is considered to be the basis of primary prevention its basic content includes the following aspects:</div>
            <div class="text-body" style="margin-left: 20px;">(1).Health should be the responsibility of society as well as of individuals;</div>
            <div class="text-body" style="margin-left: 20px;">(2).Health promotion is no longer only targeted at the risk factors of diseases, but includes all aspects of individual, group and social life, which requires the promotion of positive health behaviors, the improvement of health knowledge level, and the maximum mobilization of the population to consciously participate in the maintenance of health activities;</div>
            <div class="text-body" style="margin-left: 20px;">(3).Environmental factors play an important role in human activities to promote health. No matter individuals, collectives or societies want to obtain health, they should actively participate in the improvement of the environment and the maintenance of a good environment, so that the environment becomes a supporting factor for human to obtain health;</div>
            <div class="text-body" style="margin-left: 20px;">(4).Health promotion is not just about health. It involves all areas of social life and must be done in collaboration with multiple disciplines and sectors. </div>
            <div class="text-body">2. Health protection</div>
            <div class="text-body">
                Health protection is a measure taken against diseases with a clear cause (or risk factor) or with specific means of prevention.It plays a major role in the prevention and elimination of etiology.For example, miners use wet work to reduce the incidence of pneumoconiosis, smoking control to prevent lung cancer, hepatitis B vaccine to prevent hepatitis B, etc. </div>
            <div class="text-body">
                The two-pronged strategy for primary prevention is often adopted, combining the general prevention of the whole population with the focus on prevention of high-risk groups, and the two complement each other to improve efficiency.The former is called a Population strategy, which aims to reduce the overall population's exposure to risk factors through health promotion.The latter is called a high risk strategy, which aims to eliminate specific exposures in high-risk groups and is achieved through health protection. </div>


            <div class="text-title">Healthy population and intestinal polyp patients</div>
            <div class="text-title">Healthy people and patients with inflammatory bowel disease</div>


        </div>

    </div>


}