@()(implicit session: Session)
@en.home.main("Tertiary Prevention") {

    <style>
            .text-title {
                color: #2D8B67;
                font-size: 20px;
                padding: 10px 0 10px 0;
            }

            .text-body{
                text-indent: 2em;
                line-height: 35px;
                text-align: justify;
            }
    </style>

    <div class="row">


        <h1 class="page-heading">Tertiary Prevention</h1>


        <div class="ml-row">

            <div class="text-title">What is tertiary prevention?</div>
            <div class="text-body">Tertiary prevention, also known as clinical prevention, refers to the timely and effective treatment measures taken to prevent the deterioration of the disease, prevent complications and disability;For those who have lost their work force or disability, the main purpose is to promote functional recovery, psychological rehabilitation and home nursing guidance, so that the patients can regain their living and working ability as far as possible, participate in social activities and prolong their life.</div>

            <div class="text-title">The main measures of tertiary prevention</div>
            <div class="text-body">The main measures of tertiary prevention include symptomatic treatment and rehabilitation:</div>
            <div class="text-body">Symptomatic treatment can improve the symptoms, reduce pain, reduce the adverse reactions of the disease, prevent complications and disability, strive for injury but not disabled, has lost the labor force or disabled through rehabilitation treatment, can promote their physical and mental recovery, restore the labor force, strive for disability but not invalid, protect their ability to live. </div>
            <div class="text-body">The measures of rehabilitation treatment include functional rehabilitation, psychological rehabilitation, social rehabilitation and vocational rehabilitation. </div>


            <div class="text-title">Side effects of chemotherapy (yes/no)</div>
            <div class="text-title">Side effects of immunotherapy (yes/no)</div>
            <div class="text-title">Abandon side effects (yes/no)</div>
            <div class="text-title">Side effects of targeted therapy (yes/no)</div>
            <div class="text-title">Complications (yes/no)</div>



        </div>

    </div>


}

