@()(implicit session: Session)
@cn.home.main("一级预防") {

    <style>
            .text-title {
                color: #2D8B67;
                font-size: 20px;
                padding: 10px 0 10px 0;
            }

            .text-body{
                text-indent: 2em;
                line-height: 35px;
                text-align: justify;
            }
    </style>

    <div class="row">


        <h1 class="page-heading">一级预防(Primary Prevention)</h1>


        <div class="ml-row">

            <div class="text-title">什么是一级预防？</div>
            <div class="text-body">一级预防又称病因预防，是指在疾病尚未发生时针对病因(或危险因素)所采取的措施，也就是“防病于未然”。一级预防是预防、控制和消灭疾病的根本措施。 </div>

            <div class="text-title">一级预防的内容</div>
            <div class="text-body">一级预防包括健康促进和健康保护两方面内容：</div>
            <div class="text-body">(一) 健康促进</div>
            <div class="text-body">是通过创造促使健康的环境使人们避免或减少机体对病因(或危险因素)的暴露，改变机体的易感性，使机体免于发病，降低发病率。由于大多数慢性病缺乏特殊的保护措施，而健康促进又是在机体暴露于病因之前就采取的措施，因此健康促进被认为是一级预防的基础。其基本内容包括以下几个方面：</div>
            <div class="text-body" style="margin-left: 20px">(1).健康不仅仅由个人负责，还应该由社会负责；</div>
            <div class="text-body" style="margin-left: 20px">(2).健康促进不再仅仅是针对疾病的危险因素，而是包括个体、群体及社会生活的各个方面，这就要求促进积极的健康行为，提高卫生知识水平，最大限度地动员人群自觉参与维护健康的活动；</div>
            <div class="text-body" style="margin-left: 20px">(3).环境因素在人类促进健康的活动中占有重要地位，无论个人、集体还是社会要获得健康，均要积极参与对环境的改善与良好环境的维护，使环境成为人类获得健康的支持因素；</div>
            <div class="text-body" style="margin-left: 20px">(4).健康促进不仅仅是卫生领域的工作，它涉及社会生活的各个领域，必须与多学科、多部门合作。 </div>
            <div class="text-body">(二) 健康保护</div>
            <div class="text-body">健康保护是对有明确病因(或危险因素)或具备特异预防手段的疾病所采取的措施。在预防及消除病因上起主要作用。如矿工采用湿式作业来减少尘肺的发生，控制吸烟来预防肺癌，接种乙肝疫苗来预防乙型肝炎等。 </div>
            <div class="text-body">开展一级预防常采用双向策略(two pronged strategy)，即把对整个人群的普遍预防和对高危人群的重点预防结合起来，二者相互补充可以提高效率。前者称为全人群策略(population strategy)，旨在降低整个人群暴露于危险因素的水平，它是通过健康促进实现的；后者称为高危策略(high risk strategy)，旨在消除高危人群的特殊暴露，它是通过健康保护实现的。 </div>


            <div class="text-title">健康人群与肠息肉患者</div>
            <div class="text-title">健康人群与炎症性肠病患者</div>


        </div>

    </div>


}