@()(implicit session: Session)
@cn.home.main("二级预防") {

    <style>
            .text-title {
                color: #2D8B67;
                font-size: 20px;
                padding: 10px 0 10px 0;
            }

            .text-body{
                text-indent: 2em;
                line-height: 35px;
                text-align: justify;
            }
    </style>

    <div class="row">


        <h1 class="page-heading">二级预防(Secondary Prevention)</h1>


        <div class="ml-row">

            <div class="text-title">什么是二级预防？</div>
            <div class="text-body">二级预防又称临床前期预防，是指在疾病的临床前期做好早期发现、早期诊断、早期治疗的“三早”预防，以控制疾病的发展和恶化，防止疾病复发或转为慢性。 </div>

            <div class="text-title">二级预防的核心</div>
            <div class="text-body">二级预防的核心是早期诊断。早期诊断的前提在于早期发现，早期诊断可以早期治疗，从而改善预后。要做好二级预防就需要向群众宣传防病知识，提高医务人员的诊疗水平和建立灵敏而可靠的疾病监测系统。 </div>
            <div class="text-body">目前许多慢性病大多病因不明，因此要完全做到一级预防是不可能的，由于慢性病发生和发展的时间比较长，做到早期发现、早期治疗是可行的，例如宫颈癌、冠心病、高血压等。早期发现的措施包括普查、筛检、定期健康检查及设立专科门诊等。普查是早期发现疾病的一种较全面的方法，但普查工作不宜广泛应用，因为在短时期内需要集中大量人力、物力。筛检是早期发现的主要方法，但要决定是否对某个疾病开展筛检，要考虑疾病筛检的原则。某些肿瘤还可通过群众的自我检查早期发现，例如通过乳房自检可以早期发现乳腺癌。一些癌前期病变容易发展成癌，例如粘膜白斑及皮肤慢性溃疡容易发展成皮肤癌，宫颈糜烂容易发展成宫颈癌。发现并及早治疗各种癌前期病变，属于肿瘤的二级预防。产前检查发现胎儿染色体异常而早期做出诊断，进而终止妊娠，属于遗传病的二级预防。  </div>


            <div class="text-title">健康人群与肠癌患者</div>
            <div class="text-title">炎症性肠病患者与肠癌患者</div>
            <div class="text-title">肠息肉患者与肠癌患者</div>


        </div>

    </div>


}