@()(implicit session: Session)
@cn.home.main("三级预防") {

    <style>
            .text-title {
                color: #2D8B67;
                font-size: 20px;
                padding: 10px 0 10px 0;
            }

            .text-body{
                text-indent: 2em;
                line-height: 35px;
                text-align: justify;
            }
    </style>

    <div class="row">


        <h1 class="page-heading">三级预防(Tertiary Prevention)</h1>


        <div class="ml-row">

            <div class="text-title">什么是三级预防</div>
            <div class="text-body">三级预防又称临床预防，是指对已患病者采取及时有效的治疗措施，防止病情恶化，预防并发症和伤残；对已丧失劳动力或残疾者主要促使功能恢复，心理康复，进行家庭护理指导，使病人尽量恢复生活和劳动能力，并能参加社会活动及延长寿命。</div>

            <div class="text-title">三级预防的主要措施</div>
            <div class="text-body">三级预防的主要措施有对症治疗和康复治疗：</div>
            <div class="text-body">对症治疗可以改善症状，减轻痛苦，减少疾病的不良反应，防止并发症和伤残，争取伤而不残，对已丧失劳动力或残废者通过康复治疗，可以促进其身心早日康复，恢复劳动力，争取残而不废，保护其生活能力。 </div>
            <div class="text-body">　康复治疗的措施包括功能康复、心理康复、社会康复和职业康复等。 </div>


            <div class="text-title">化疗副反应（有/无）</div>
            <div class="text-title">免疫治疗副反应（有/无）</div>
            <div class="text-title">放弃副反应（有/无）</div>
            <div class="text-title">靶向治疗副反应（有/无）</div>
            <div class="text-title">并发症（有/无）</div>



        </div>

    </div>


}