<style>
        #group {
            display: none;
        }
</style>

<form class="form-horizontal row" method="get" id="form">

    @cn.tools.global.taskname()

    @cn.tools.global.file("OTU丰度表", "otu", "cca_otu.txt")

    @cn.tools.global.file("环境因子列表文件", "env", "cca_env.txt")

    @cn.tools.global.radio("分析类型", "anatype", Seq(("RDA", "RDA"), ("CCA", "CCA")), "RDA", "")

    @cn.tools.global.radio("是否分组绘图", "isgroup", Seq(("TRUE", "是"), ("FALSE", "否")), "FALSE", "ShowOrHide('isgroup','group')")

    @cn.tools.global.file("上传分组文件", "group", "cca_group.txt")

    @cn.tools.global.runButton()
</form>

<script>

        $(function () {
            ValidationForm();
            MyTable.prototype.getTaskName("CCA")
            ShowOrHide('isgroup', 'group');
            webScoket("cca")
        })


        function OpenResult(id) {
            $.post("/colorectal/cn/platform/tools/getRedrawParams?id=" + id + "&tools=cca", (data) => {
                const $result = $("#result")

                const html = `                            <div class="col-sm-6" style="min-width: 600px;
                                margin-top: 35px">
                                <img id="resultImg" width="100%"/>
                            </div>

                            <div class="col-sm-6">
                                <form id="reForm"  enctype="multipart/form-data">
                                    <div class="redraw_panel redraw-right" style="margin-bottom: 30px;">
                                        <ul class="nav nav-tabs  px-4" role="tablist" style="border: none;
                                            border-bottom: 1px solid #ddd">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="picpara-tab" data-toggle="tab" href="#picpara" role="tab" aria-controls="picpara" aria-selected="true">
                                                    数据布局参数</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="colopara-tab" data-toggle="tab" href="#colopara" role="tab" aria-controls="colopara" aria-selected="false">
                                                    颜色参数</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="fontpara-tab" data-toggle="tab" href="#fontpara" role="tab" aria-controls="fontpara" aria-selected="false">
                                                    字体参数</a>
                                            </li>
                                        </ul>

                                        <div class="tab-content" style="box-sizing: border-box !important;
                                            padding-top: 30px">
                                            <div class="tab-pane fade active  show" id="picpara">
                                                @cn.tools.reGlobal.select("选择x轴数据", "xdata", Seq())
                                                @cn.tools.reGlobal.select("选择y轴数据", "ydata", Seq())
                                                @cn.tools.reGlobal.twoText("原点坐标(X : Y)", "xaxis","yaxis","数字","0","数字","0", "--", "axisRange")
                                                @cn.tools.reGlobal.text("样品点大小", "samsize", "数字","6")
                                                @cn.tools.reGlobal.radio("是否显示样本名", "showname", Seq(("true", "是"), ("false", "否")), "true", "ShowOrHide('showname','showEnvColor')")
                                                @cn.tools.reGlobal.radio("是否显示环境因子", "showevi", Seq(("true", "是"), ("false", "否")), "true", "ShowOrHide('showevi','showEnvLineColor')")
                                                @cn.tools.reGlobal.radio("是否显示物种", "showspecies", Seq(("true", "是"), ("false", "否")), "true", "ShowSpecies()")
                                                @cn.tools.reGlobal.text("物种点大小", "speciessize", "数字","6","speciesId")
                                                @cn.tools.reGlobal.radio("清晰度", "dpi", Seq(("300", "300"), ("600", "600"), ("96", "96"), ("72", "72")), "300", "")
                                                @cn.tools.reGlobal.twoText("图片长宽", "width", "length","数字", "15","数字", "15","--", "imgRange")
                                            </div>
                                            <div class="tab-pane fade" id="colopara">
                                                <p class="card-title" style="margin-left:12%" id="selfColor">自定义颜色(当前分组 - 颜色)：</p>

                                                @cn.tools.reGlobal.color("环境因子名颜色","envColor","showEnvColor")
                                                @cn.tools.reGlobal.color("环境因子坐标线颜色","envLineColor","showEnvLineColor")
                                                @cn.tools.reGlobal.color("物种颜色","speciesColor","showSpeciesColor")
                                            </div>
                                            <div class="tab-pane fade" id="fontpara">
                                                @cn.tools.reGlobal.slider("样品名字体大小", "samfont", "0", "15", "1", "7")
                                                @cn.tools.reGlobal.slider("环境因子字体大小", "evifont", "0", "15", "1", "7")
                                                @cn.tools.reGlobal.slider("物种名字体大小", "speciesfont", "0", "15", "1", "7")
                                                @cn.tools.reGlobal.slider("x轴字体大小", "xts", "0", "50", "1", "16")
                                                @cn.tools.reGlobal.slider("x轴标题大小", "xls", "0", "50", "1", "18")
                                                @cn.tools.reGlobal.slider("y轴字体大小", "yts", "0", "50", "1", "16")
                                                @cn.tools.reGlobal.slider("y轴标题大小", "yls", "0", "50", "1", "18")
                                                @cn.tools.reGlobal.slider("说明文字大小", "lts", "0", "50", "1", "15")
                                                @cn.tools.reGlobal.slider("说明标题大小", "lms", "0", "50", "1", "15")
                                                @cn.tools.reGlobal.slider("主标题大小", "ms", "0", "50", "1", "15")
                                                @cn.tools.reGlobal.text("主标题", "mstext", "标题不可含有汉字")
                                            </div>
                                        </div>
                                        @cn.tools.reGlobal.runButton()
                                    </div>
                                </form>


                            </div>`
                $("#redraw").empty().html(html)

                $("#reButton").attr("onclick", "ReDraw('" + id + "')")
                $("#resultImg").attr("src", `/colorectal/cn/platform/tools/getToolsImage?path=cca/${id}/rdacca.png&num=` + Math.random())


                const drawParams = data.drawParams;
                $("#xdata").select2({
                    data: data.cols
                }).val(drawParams.xdata).select2({minimumResultsForSearch: -1})
                $("#ydata").select2({
                    data: data.cols
                }).val(drawParams.ydata).select2({minimumResultsForSearch: -1})

                $.each(data.group, function (i, v) {
                    let name ;
                    if (v === "nogroup") {
                        name = "未分组"
                    } else {
                        name = v
                    }
                    let colo = `<div class="form-group row" >
                                    <div class="reDraw">
                                        <label class="col-sm-3 col-form-label">${name}：</label>
                                        <div  class="col-sm-4" style="display: flex">
                                            <input id='color${i}'  name='color' class='colorPicker evo-cp0 form-control'>
                                        </div></div>
                                    </div>`
                    $("#selfColor").after(colo);
                });

                let slider = ["samfont", "evifont", "speciesfont", "xts", "xls", "yts", "yls", "lts", "lms", "ms"]

                $.each(slider, (i, v) => {
                    let $sliderId = $("#" + v)
                    $sliderId.bootstrapSlider({tooltip: 'always'});
                    $sliderId.bootstrapSlider('setValue', drawParams[v]);
                })

                let text = ["xdamin", "xdamax", "ydamin", "ydamax", "width", "length", "lmtext", "mstext"]

                $.each(text, (i, v) => {
                    $("#" + v).val(drawParams[v])
                })

                let radio = ["showname",  "dpi","showevi","showspecies"]

                $.each(radio, (i, v) => {
                    $("input[name=" + v + "][value=" + drawParams[v] + "]").prop("checked", true)
                })

                ValidationReForm()

                $.each(data.group, function (i, v) {
                    $("#color" + i).colorpicker({color: data.color[i], defaultPalette: 'web', showOn: "button"})
                            .on("change.color", function (event, color) { //选择颜色事件
                                //formValidation重新验证颜色
                                $("#reForm").formValidation("revalidateField", "color")
                            });
                })

                let color = ["envColor","envLineColor","speciesColor"];

                $.each(color, (i, v) => {
                    console.log(drawParams[v])
                    $("#" + v).colorpicker({color: drawParams[v], defaultPalette: 'web', showOn: "button"})
                            .on("change.color", function (event, color) { //选择颜色事件
                                $("#reForm").formValidation("revalidateField", v)
                                //formValidation重新验证颜色
                            });
                })

                ShowOrHide('showname','showEnvColor')
                ShowOrHide('showevi','showEnvLineColor')
                ShowSpecies()

                getTitleAndFile(data.title,data.tableData,"cca",id)
            })
        }

        function ShowSpecies() {
            let value = $("input[name=showspecies]:checked").val()
            if (value.toUpperCase() === "TRUE") {
                $("#showSpeciesColor").show()
                $("#speciesId").slideDown(400)
            } else {
                $("#showSpeciesColor").hide()
                $("#speciesId").slideUp(400)
            }

        }

        function ValidationForm() {
            let field = {};
            let text = ["name"];
            field = FieldName(field, text,"cca")
            let file = ["otu", "env", "group"];
            field = FieldFile(field, file)
            addFormValidation("form", field)
        }

        function ValidationReForm() {
            let field = {};
            let number = ["xaxis", "yaxis", "samsize", "speciessize", "width", "length"];
            FieldNumber(field, number);
            let color = ["envColor", "color","envLineColor","speciesColor"];
            FieldColor(field, color);
            let excluded = []
            addFormValidation("reForm", field, excluded)
        }

</script>