@en.user.main("注册成功") {

    <style>

         a:visited {
            color: #2D8B67;
        }

    </style>

    <div class="box-right">

        <div style="margin-top: 180px">
            <h1 class="page-title" style="font-weight: bold;">Congratulations</h1>
            <h1 class="page-title" style="font-weight: bold;">Successful account creation！</h1>
            <h2 class="page-title" style="color: #2D8B67"><a href="@routes.UserController.loginPageEn()">Click to sign in!</a></h2>
        </div>

    </div>


}
